{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="col-sm-4">
    <h2>Categories</h2>

    {% for i in categories %}
    <div>
      <p><a href='{{url_for('showItems', catalog_name=i.name) }}'>{{i.name}}</a></p>
    </div>
    {% endfor %}
</div>
<div class="col-sm-8">
    <h2>{{catalog_name}} Items ({{items.count()}} items)</h2>

    {% for j in items %}
        <div>
          <p><a href='{{url_for('showItemInfo', catalog_name=catalog_name, item_name=j.name, item_id=j.id) }}'>{{j.name}}</a></p>
        </div>
    {% endfor %}
</div>
{% endblock %}
