{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <h2>Add Item</h2>
    <form action="#" method = "post">
      <label for="name">Name</label><br>
  		<input type ="text" maxlength="100" class="form-control" name="name"><br><br>

  		<label for="description">Description</label><br>
  		<textarea class="form-control" maxlength="250" rows="3" name="description"></textarea><br><br>

      <label for="categories">Category</label><br>
      <select name="categories">
        {% for i in categories %}
          <option value='{{i.id}}'>{{i.name}}</option>
        {% endfor %}
      </select>
      <br><br>
      <button type="submit" id="submit" type="submit">Save</button>
  		<a href = '{{url_for('showCategories')}}'><button type="button">Cancel</button></a>
    </form>
{% endblock %}
